
/*顶部导航条的外部容器*/
.top-wrapper{
    min-width: 1100px;
    height: 70px;
    background-color: #242424;
    border-bottom: 1px solid #000;
}
/*顶部导航条*/
.top-bar{
    height: 100%;
    position: relative;
}
/*设置导航条左侧部分*/
.top-left{
    /*height: 100%;*/
}
/*设置导航条左侧*/
.top-left>a{
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;
    line-height: 70px;
    float: left;
    padding: 0 19px;
}

/*设置红色导航条*/
.red-wrapper{
    height: 35px;
    background-color: #c20c0c;
    border-bottom: 1px solid #a40011;
}
.red-wrapper .red a{
    float: left;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 0 13px 0;
    margin: 7px 17px 0;
}
.red-wrapper .red a:nth-child(1){
    margin-left: 220px;
    background-color: rgba(0,0,0,.3);
    border-radius: 20px;
}
.red-wrapper .red a:hover{
    background-color: rgba(0,0,0,.3);
    border-radius: 20px;
}

/*设置logo*/
.top-left>.top-logo{
    width: 157px;
    height: 70px;
    background-position: 0 0;
    overflow: hidden;
    padding-right: 20px;
}
/*设置发现音乐*/
.top-left>.find{
    color: #fff;
    background-color: #000;
    position: relative;
}
/*设置发现音乐的小三角*/
.top-left .arrow1{
    width: 12px;
    height: 7px;
    background-image: url(../img/topbar.png);
    background-position: -226px 0;
    overflow: hidden;
    position: absolute;
    top: 64px;
    left: 50%;
    margin-left: -6px;
}

/*设置hot小图标*/
.top-left>.hot{
    position: relative;
}
.top-left>.hot>div{
    width: 28px;
    height: 19px;
    background-image: url(../img/topbar.png);
    background-position: -190px 0;
    overflow: hidden;
    position: absolute;
    top: 21px;
    left: 100px;
}
.top-left>a:hover {
    color: #fff;
    background-color: #000;
}

/*设置导航条右侧*/
.top-right a{
    float: right;
    text-decoration: none;
    font-size: 12px;
}
/*设置登录*/
.top-right .login{
    height: 50px;
    line-height: 45px;
    color: #787878;
    margin: 12px 0 0 20px;
    padding-right: 22px;
    background-image: url("../img/topbar.png");
    background-position: -194px -40px;
    overflow: hidden;
    position: relative;
}
.top-right .login:hover{
    text-decoration: underline;
}
.top-right .top-login:hover ul{
    display: block;
}

/*设置登录下拉菜单*/
.top-login ul{
    display: none;
    width: 158px;
    height: 196px;
    background-color: #2b2b2b;
    box-shadow: 0 8px 24px 0 rgba(0,0,0,.5);
    border-radius: 4px;
    position: absolute;
    top: 60px;
    right: -43px;
    z-index: 999;
}
/*设置登录下拉菜单列表*/
.top-login ul a{
    display: block;
    text-decoration: none;
    color: #ccc;
    width: 138px;
    height: 38px;
    line-height: 38px;
    padding-left: 20px;
    border-top: 1px solid #242424;
}
.top-login ul a:hover{
    color: #fff;
    background-color: #424242;
}
/*设置登录小三角*/
.top-login ul .arrow2 {
    width: 0;
    height: 0;
    border: 6px solid #2b2b2b;
    border-color: transparent transparent #2b2b2b;
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -6px;
}

/*设置创作者中心*/
.top-right>.author{
    width: 90px;
    height: 32px;
    line-height: 32px;
    color: #ccc;
    text-align: center;
    margin: 19px 0 0 12px;
    border: 1px solid #4f4f4f;
    border-radius: 20px;
}
.top-right>.author:hover{
    color: #fff;
    border-color: #fff;
}
/*设置搜索框*/
.top-right form input[type]{
    width: 128px;
    height: 32px;
    font-size: 12px;
    background-image: url("../img/topbar.png");
    background-position: 0 -99px;
    overflow: hidden;
    padding-left: 30px;
    margin: 19px 0 0 55px;
    border-radius: 32px;
    border-style: none;
    outline: none;
}



/*设置中间大背景*/
.big-wrapper{
    height: 336px;
    background-color: #DBCBBE;
    position: relative;
}

/*设置左右箭头*/
.big-wrapper i{
    font-size: 40px;
    color: #fff;
    padding: 10px 5px;
    z-index: 999;
}
.big-wrapper i:first-child{
    position: absolute;
    top: 140px;
    left: 230px;
}
.big-wrapper i:last-child{
    position: absolute;
    top: 140px;
    right: 230px;
}
.big-wrapper i:hover{
    background-color: rgba(0,0,0,.3);
}

/*设置中间图片*/
.big{
    width: 982px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.big img{
    float: left;
}
/*设置小圆点容器*/
.big .point{
    z-index: 100;
    position: absolute;
    top: 315px;
    left: 280px;
}
/*设置小圆点*/
.big .point a{
    float: left;
    width: 6px;
    height: 6px;
    background-color: rgba(255,255,255,.7);
    border-radius: 50%;
    margin: 0 8px;
}
.big .point a:hover{
    background-color: #C50C0C;
}
/*设置下载框*/
.big .download{
    width: 252px;
    height: 336px;
    background-image: url("../img/download.png");
    float: left;
    position: relative;
}
/*设置下载按钮*/
.big .download button{
    width: 220px;
    height: 60px;
    background-color: #4180E2;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 210px;
    right: 16px;
}
.big .download button:hover{
    cursor: pointer;
}




/*设置整个大容器*/
.rec-wrapper{
    /*暂定*/
    height: 1500px;
    background-color: #F5F5F5;
}
/*设置热门推荐大方框*/
.rec{
    height: 1400px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-top: none;
}
/*设置热门推荐左半部分*/
.rec-left{
    width: 689px;
    height: 1365px;
    padding: 20px 20px 40px;
    float: left;
}

.r-rec{
    width: 689px;
    height: 523px;
}
/*设置热门推荐导航栏*/
.rec-nav,.new-nav,.list-nav{
    width: 690px;
    height: 33px;
    border-bottom: 2px solid #c10d0c;
}
/*设置热门推荐左侧导航栏*/
.nav-left{
    line-height: 33px;
}
/*设置热门推荐左侧圆圈图标*/
.nav-left i{
    float: left;
    color: #c10d0c;
    margin: 0 10px;
}
/*设置小竖线*/
.nav-left .line{
    display: block;
    float: left;
    width: 1px;
    height: 12px;
    background-color: #ccc;
    margin: 10px 15px 0;

}

/*设置热门推荐左侧导航栏里链接*/
.nav-left a{
    text-decoration: none;
    color: #666;
    font-size: 13px;
    float: left;
}
.nav-left a:nth-child(2){
    font-size: 20px;
    color: #333;
    font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
    margin-right: 20px;
}
/*设置鼠标移入效果*/
.nav-left a:not(:nth-child(2)):hover  {
    text-decoration: underline;
}

/*设置热门推荐右侧导航栏*/
.nav-right{
    line-height: 33px;
}
.nav-right a{
    float: right;
    text-decoration: none;
    color: #666;
    font-size: 13px;
}
/*设置热门推荐右侧导航栏里右箭头*/
.nav-right i{
    float: right;
    color: #c10d0c;
    font-size: 10px;
    font-weight: 900;
    margin: 0 10px 0 5px;
}
/*设置鼠标移入效果*/
.nav-right a:hover{
    text-decoration: underline;
}

/*设置热门推荐下分类歌单*/
.rec-left-hot{
    width: 690px;
    margin: 20px 0 0 -32px;
}
.rec-left-hot div{
    float: left;
    width: 140px;
    height: 204px;
    padding: 0 0 30px 32px;
}
/*设置文字链接*/
.rec-left-hot div p a{
    overflow: hidden;
    color: #333;
    text-decoration: none;
}
.rec-left-hot div p a:hover{
    text-decoration: underline;
}


/*新碟上架*/
.r-new{
    width: 689px;
    height: 243px;
    margin-bottom: 40px;
}
/*新碟主要部分*/
.r-new .new-disc{
    width: 687px;
    height: 186px;
    background-color: #f5f5f5;
    border: 1px solid #d3d3d3;
    margin: 20px 0 37px;
    position: relative;
}
.r-new .new-disc i{
    width: 17px;
    height: 17px;
    color: #898989;
    float: left;
}
.r-new .new-disc i:first-child{
    position: absolute;
    top: 71px;
    left: 10px;
}
.r-new .new-disc i:last-child{
    position: absolute;
    top: 71px;
    right: 10px;
}
.r-new .new-disc i:hover{
    color: #333;
}

.r-new .new-inner{
    width: 645px;
    height: 180px;
    float: left;
    margin-left: 20px;
}
.r-new .new-inner ul{
    width: 645px;
    height: 150px;
    margin-top: 28px;
    /*float: left;*/
}
.r-new .new-inner li{
    width: 118px;
    height: 150px;
    margin-left: 11px;
    float: left;
}
.r-new .new-inner div{
    width: 118px;
    height: 100px;
}
.r-new .new-inner p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.r-new .new-inner p a{
    width: 106px;
    height: 18px;
    line-height: 18px;
    color: #333;
    font-size: 12px;
    text-decoration: none;
}
.r-new .new-inner .p2 a{
    color: #777;
}
.r-new .new-inner a:hover{
    text-decoration: underline;
}


/*榜单*/
.r-list{
    width: 689px;
    height: 527px;
}

.r-list .list-sin{
    height: 472px;
    background-color: #f4f4f4;
    border: 1px solid #d3d3d3;
    margin: 20px 0 37px;
    /*position: relative;*/
}
.list-sin >div{
    float: left;
    width: 228px;
    border: 1px solid #d3d3d3;
    border-right: none;
}
/*榜单上部分*/
.list-sin .sin-top{
    height: 100px;
    padding: 20px 0 0 19px;
}
.sin-top .bang img{
    width: 80px;
    height: 80px;
    float: left;
}
.sin-top .tit{
    float: left;
    width: 116px;
    height: 51px;
    margin: 6px 0 0 10px;
}
.sin-top .tit a{
    font-weight: bold;
    font-size: 16px;
    color: #333;
}
.sin-top .tit .btn i{
    float: left;
    color: #B7B7B7;
    font-size: 25px;
    width: 22px;
    height: 22px;
    margin-right: 10px;
}
/*榜单音乐列表*/
.list-sin ol{
    height: 352px;
}
.list-sin li{
    height: 32px;
    padding-left: 40px;
}
.list-sin li:nth-of-type(odd){
    background-color: #E8E8E8;
}
.list-sin a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    line-height: 32px;
}
.list-sin a:hover{
    text-decoration: underline;
}



/*右侧栏*/
.rec-right{
    float: right;
    width: 250px;
    height: 100%;
    border-left: 1px solid #d3d3d3;
}

/*设置用户登录框*/
.rec-right .user-login{
    height: 126px;
    background-image: url("../img/right.png");
    /*overflow: hidden;*/
    position: relative;
}
.user-login p{
    width: 205px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #666;
    padding: 16px 23px;
}
/*设置用户登录按钮*/
.user-login button{
    width: 100px;
    height: 31px;
    background-image: url(../img/right.png);
    background-position: 0 -195px;
    color: #fff;
    font-size: 12px;
    border: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -50px;
}
.user-login button:hover{
    background-position: -110px -195px;
}

/*设置入驻歌手*/
.rec-right .singer{
    height: 455px;
    margin-top: 15px;
}
/*入驻歌手导航栏*/
.singer h3,
.anchor h3{
    width: 210px;
    height: 24px;
    font-size: 12px;
    margin: 0 20px;
    border-bottom: 1px solid #d3d3d3;
}
.singer h3 span,
.anchor h3 span{
    color: #333;
    font-weight: bold;
    float: left;
}
.singer h3 a{
    color: #666;
    text-decoration: none;
    float: right;
}
/*入驻歌手列表*/
.singer ul {
    width: 230px;
    height: 380px;
    margin: 6px 0 14px 20px;
}
.singer ul li{
    width: 210px;
    height: 62px;
    background-color: #fafafa;
    margin-top: 14px;
    float: left;
}
.singer ul li .head{
    width: 62px;
    height: 62px;
    float: left;
}
.singer ul .ifo{
    float: left;
    width: 133px;
    height: 62px;
    padding-left: 14px;
    border: 1px solid #e9e9e9;
    border-left: none;
}
.singer ul .ifo .p1{
    width: 120px;
    font-size: 14px;
    color: #333;
    font-weight: 900;
    margin-top: 8px;
}
.singer ul .ifo .p2{
    width: 120px;
    font-size: 12px;
    color: #666;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*按钮*/
.singer >a{
    display: block;
    width: 206px;
    height: 31px;
    background-color: #f5f5f5;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    line-height: 31px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #d3d3d3;
    border-radius: 4px;
    margin-left: 20px;
}
.singer>a:hover{
    background-color: #f9f9f9;
}

/*设置热门主播*/
.anchor{
    width: 250px;
    height: 294px;
    margin-top: 30px;
}
.anchor ul{
    width: 230px;
    height: 250px;
    margin: 20px 0 0 20px;
}
.anchor ul li{
    width: 210px;
    height: 50px;
    float: left;
}
/*图片*/
.anchor ul li .head{
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.anchor ul .ifo{
    width: 160px;
    height: 42px;
    float: left;
}
.anchor ul .ifo a{
    float: left;
    width: 160px;
    height: 20px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
}
.anchor ul .ifo a:hover{
    text-decoration: underline;
}
.anchor ul .ifo .p2{
    float: left;
    width: 160px;
    height: 20px;
    font-size: 12px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}










